# Stretch Challenge - Genre Summary

Use the netflix dataset and complete this challenge:

### Task: Group the data by `Genre` and compute:

- The total number of titles in each genre
- The avergae duration of each genre
- Sort it by the total number of titles (descending)

### Bonus: Plot a bar chart of top 5 genres by count using `matplotlib` or `pandas.plot().`

In [1]:
import pandas as pd

In [2]:
# Load the data
df = pd.read_csv("netflix_log.csv")

In [3]:
# inspect the data
df.head()

             Title        Date  Duration (min)   Genre
0       The Office  2024-03-01              22  Comedy
1     Breaking Bad  2024-03-02              47   Drama
2       The Office  2024-03-02              21  Comedy
3  Stranger Things  2024-03-03              50  Sci-Fi
4        The Crown  2024-03-04              58   Drama

In [6]:
# Change "Duration (min)" to "Duration_min"
df.rename(columns={"Duration (min)": "Duration_min"}, inplace=True)
df.head()

             Title        Date  Duration_min   Genre
0       The Office  2024-03-01            22  Comedy
1     Breaking Bad  2024-03-02            47   Drama
2       The Office  2024-03-02            21  Comedy
3  Stranger Things  2024-03-03            50  Sci-Fi
4        The Crown  2024-03-04            58   Drama

In [11]:
# Total number of titles in each genre
print(df.groupby("Genre").value_counts())

Genre   Title            Date        Duration_min
Comedy  The Office       2024-03-01  22              1
                         2024-03-02  21              1
                         2024-03-04  25              1
Drama   Breaking Bad     2024-03-02  47              1
        The Crown        2024-03-04  58              1
Sci-Fi  Stranger Things  2024-03-03  50              1
Name: count, dtype: int64

In [13]:
# The average duration of each genre
print(df.groupby("Genre")["Duration_min"].mean())

Genre
Comedy    22.666667
Drama     52.500000
Sci-Fi    50.000000
Name: Duration_min, dtype: float64

In [15]:
# Sort by total number of titles in descending order
title_counts = df["Title"].value_counts()
print(title_counts.sort_values(ascending=False))

Title
The Office         3
Breaking Bad       1
Stranger Things    1
The Crown          1
Name: count, dtype: int64